@font-face {
    font-family: '_ptsans';
    src: url('fonts/._ptsans.woff') format('woff'),
         url('fonts/._ptsans.woff2') format('woff2'),
         url('fonts/._ptsansbold.woff') format('woff2'),
         url('fonts/._ptsansbold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
} 

*, *::before, *::after {
   box-sizing: border-box; 
} 

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
li {
 list-style: none;   
}

body {  
    margin: 0;
    padding: 0;       
    background-color: #f2f2f2; 
}   

.main-page,
.inner-page {
    margin: 0 auto;
    width: 1200px;
    
    background-color: #ffffff;
    box-shadow: 
    -5px 0 5px -5px rgba(0, 1, 1, 0.2),
    5px 0 5px -5px rgba(0, 1, 1, 0.2);
}

.main-header {  
    background-color: #ffffff;  
    min-height: 56px; 
    display: flex;
    /*align-items: center;*/  
    justify-content: space-around;
    position: relative;
}


.main-header-logo {
    margin-top: 0;
    width: 140px;
    height: 71px;
    position: absolute; 
    z-index: 1;  
} 

.main-header .site-navigation {
    width: 1200px;
    margin: 0;
    padding: 0;
    font: inherit;
    font-weight: 700;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 56px;      
}

.site-navigation a {
        color: #000000;       
}
  
.site-navigation a:hover {
    color: #81b3d2;  
    background-color: #ffffff;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

  .site-navigation a:active {
    color: #766357;  
    background-color: #ffffff;
}

.button {
    font: inherit;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.button-light {
     background-color: #81b3d2; 
} 

.button-light:hover {
     background-color: #669ec0; 
} 

.button-light:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd; 
} 

.button-dark {
     background-color: #766357; 
} 

.button-dark:hover {
     background-color: #604e43; 
} 

.button-dark:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33; 
} 

.type-face1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.type-face2 {
    color: #333333;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}
    
.input-info {
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    
}

  
/*сетка для главной страницы*/

.index-container {
    width: 1200px;
    min-height: 2586px;
}

.hero {    /*block*/
    text-align: center;
    min-height: 501px; 
    padding-top: 76px;
    background-image: url("../img/background-photo.jpg");
    background-size: cover;
    background-color: #dae8f2;
    background-repeat: no-repeat;
    position: relative;
}

.hero::after {
    content: "";
    display: block;
    min-width: 1200px;
    min-height: 59px;
    background-image: url("../img/polygon.png");
    background-size:  1200px 59px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -2px;
}

.features {
    width: 1200px;
    min-height: 1240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.features-main { /*обычный блок*/
    width: 1200px;
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/ 
    text-align: center;
}

.features-reasons {
    list-style: none;
}

.features-number,
.features-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
    
.features h2 { 
    background-color: #ffffff;   
}
    
.features-title {  /*обычный блок*/
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    margin-top: 61px;
    margin-bottom: 38px;
    /*width: 440px; не получается по макету*/      
}
.features-tense {  /*обычный блок*/
 /*width: 489px; не получается по макету*/  
 margin-bottom: 56px;
}

.features-items-accent {
    color: #ffffff;
    background-color: #81b3d2;
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
    margin-left: 0;
    width: 400px;/**не входит в ширину контента 280px по макету*/
    min-height: 256px;
    /*padding-top: 46px;
    padding-bottom: 64px;
    padding-left: 60px;
    padding-right: 60px; у второго блока другие паддинги*/
    text-align: center;
}

.features-items { /*для всех блоков в features*/
 width: 1200px;
 display: flex;
 flex-direction: row;
 justify-content:space-between;
 align-items: center;
 margin-left: -40px; /*почему?*/
 margin-right: 0;
}

.features-items-dim {
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #eeeeee;
    margin-left: 0;
    width: 400px;
    min-height: 256px;
    text-align: center;
}

.features-items-dim {
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #eeeeee;
}

.features-drops h3 {
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;    
}

.features-drops li {    
    list-style: none;
    text-align: center; 
    width: 400px; 
}

.features-drops {
    position: relative;
    display: flex;
    width: 1200px;
    /*min-height: 337px;*/
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.features-drops .features-housing::before,
.features-drops .features-food::before,
.features-drops .features-gift::before {
    content: "";
    display: block;
    min-width: 80px;
    min-height: 80px;
    position: absolute;
    display: block;
    top: -70px;  
}

.features-drops .features-housing::before {
    background-image: url("../img/icon-1.svg");
    background-size: 75px 72px;  
    background-repeat: no-repeat;  
    left: 200px;   
}

.features-drops .features-food::before {
    background-image: url("../img/icon-3.svg");
    background-size: 74px 70px;  
    background-repeat: no-repeat;  
    left: 580px;
}

.features-drops .features-gift::before {
    background-image: url("../img/icon-2.svg");
    background-size: 64px 76px;  
    background-repeat: no-repeat;  
    right: 150px;
}

.features-last-items {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
    max-width: 0 auto;
   
}

.features-number,
.features-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.main-footer {
    display: flex;
    list-style: none;
    color: #000000;
    display: flex;
    height: 120px;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    margin: 0 auto;
  }
  
.main-footer a {
    color: #000000;
} 

.footer-contacts {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    min-height: 48px;
    width: 223px;
    margin: 0 auto;
   
}


.footer-contacts a {
    display: block;
    width: 230px;
    /*height: 20px;*/
    text-align: left;
}
   

.footer-social {
    display: flex;
    width: 150px;
    min-height: 48px;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.social-button {
    background-color: #81b3d2;
    display: flex;
    width: 46px;
    height: 48px;
    align-items: center;
    justify-content: center;  
    margin-bottom: 10px;   
}

.social-button:hover {
    background-color: #669ec0;
}
.social-button:focus {
    background-color: #5496bd;
}
.social-button:focus path {
    fill: #81b3d2; 
}
  
.footer-copyright { 
    display: flex;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    width: 197px;
    /*min-height: 48px;*/
    margin: 0 auto;
    justify-content: space-between; 
    align-items: center;
   
}

.footer-copyright a:hover path {
    fill: #81b3d2; 
}

.footer-copyright a:focus path {
    fill: #bdbbbc; 
}
  
/* для  hotels.html*/

.hotels-container {  
    background-image: url("../img/filter-background.jpg");
    background-size: 1200px 562px;
    background-repeat: no-repeat;
}
.select-form {
    color: #ffffff;
}


.select-form p {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: left;
}

.select-form span,
.select-form button {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    background: transparent;
}



.selected-hotels h3 {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: left;
}

.selected-hotel span {
    color: #333333;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
}

.rating {
    color: #666666;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    background-color: #f2f2f2;
}


.selected-result p {
    color: #000000;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.button-sort {
    color: rgba(0, 0, 0, 0.3);
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    background-color:#ffffff;
    border: none;
    border-bottom: 1px dashed #81b3d2;

}

.button-sort:hover {
    color: #81b3d2;
}

.button-sort:focus {
    color: #000000;
    border-bottom: none; 
}

/*.button:active {
    color: #81b3d2;
    border-bottom: none;
}*/

.button-updown {
width: 20px;
height: 20px;
background-color:#ffffff;
background-size: 11px 10px;
background-position: center;
background-repeat: no-repeat;
border: none;
}

.button-updown-up {
    background-image: url("../img/grey-icon-up-dir.png");   
}
.button-updown-up:hover {
    background-image: url("../img/black-icon-up-dir.png");   
}
.button-updown-up:focus,
.button-updown-up:active {
    background-image: url("../img/blue-icon-up-dir.png");   
}


.button-updown-down{
    background-image: url("../img/grey-icon-down-dir.png");   
}
.button-updown-down:hover {
    background-image: url("../img/black-icon-down-dir.png");   
}
.button-updown-down:focus /*,
.button-updown-down:active*/ {
    background-image: url("../img/blue-icon-down-dir.png");   
}
