@font-face {
    font-family: '_ptsans';
    src: url('fonts/._ptsans.woff') format('woff'),
         url('fonts/._ptsans.woff2') format('woff2'),
         url('fonts/._ptsansbold.woff') format('woff2'),
         url('fonts/._ptsansbold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;  
}

*, *::before, *::after {
   box-sizing: border-box; 
} 

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

a {
    text-decoration: none;
}


body {  
    margin: 0;
    padding: 0;       
    background-color: #f2f2f2; 
    width: 1280px;    
}

.body-container {
    margin: 0;
    margin-left: 40px; 
    margin-right: 40px;
    width: 1200px;
    
    background-color: #ffffff;
    box-shadow: 
    -5px 0 5px -5px rgba(0, 1, 1, 0.2),
    5px 0 5px -5px rgba(0, 1, 1, 0.2);

    background-image: 
    url("../img/polygon.jpg"),
    url("../img/background-photo.jpg");
    background-position: 
    top 507px left 0, 
    0 0;
    background-size:
    1200px 59px, /* или auto*/
    1200px 773px; /*или auto*/
    background-repeat: no-repeat;   
}

.main-header {  
    background-color: #ffffff;  
    height: 56px; 
    margin-bottom: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: space-around;
}

.main-header .wrapper {
    width: 140px;  
}

.main-header-logo {
    width: 140px;
    height: 71px;
    position: absolute;   
} 

.main-navigation {
min-height: 56px; 
}

.main-header .site-navigation {
    width: 1200px;
    margin: 0;
    padding: 0;
    font: inherit;
    font-weight: 700;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    align-items: center; 
    height: 56px;      
}

/*
.site-navigation > li {
    width: 239px;   
}


.site-navigation ul:nth-child(2) {
  margin-right: auto;
   width: 239px;
}*/

.site-navigation a {
        color: #000000;       
}
  
.site-navigation a:hover {
    color: #81b3d2;  
    background-color: #ffffff;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

  .site-navigation a:active {
    color: #766357;  
    background-color: #ffffff;
}

.hero {    
    text-align: center;
    margin-bottom: 140px;       
}


.button {
    font: inherit;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.button-light {
     background-color: #81b3d2; 
} 

.button-light:hover {
     background-color: #669ec0; 
} 

.button-light:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd; 
} 

.button-dark {
     background-color: #766357; 
} 

.button-dark:hover {
     background-color: #604e43; 
} 

.button-dark:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33; 
} 

.features-reasons {
list-style: none;
}

.features h2 {
    display: block;
    margin-top: 100px;
    padding-top: 61px;
    height: 216px;
    background-color: #ffffff;
}

.features-title {
    font-weight: 700;
    font-size: 21px;
    line-height: 36px;
    text-align: center;
}

.features-items-accent {
    color: #ffffff;
    background-color: #81b3d2;
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
}

.features-number,
.features-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.features-items-dim {
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #eeeeee;
}

.features-items {
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;    
} /* с <p> не работает, с h3- работает */

.type-face1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.type-face2 {
    color: #333333;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}
    
.input-info {
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    
}

.main-footer {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    list-style: none;
    color: #000000;
  
    background-color: #ffffff;
  }
  
.main-footer a {
    color: #000000;
}
  
.footer-social {
    list-style: none;
}

.social-button {
    background-color: #81b3d2;
}

.social-button a:hover {
    background-color: #669ec0;
}

.social-button a:focus {
    background-color: #5496bd;
    opacity: 0.3;
}
  
.footer-copyright {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}
  

.footer-copyright a:hover {
    
}

.footer-copyright img:focus {
  
}

.selected-hotels,
.stars {
list-style: none;
}

.selected-hotels h3 {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: left;
}

.selected-hotel span {
    color: #333333;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
}

.rating {
    color: #666666;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    background-color: #f2f2f2;
}
  