html {   
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
} 

*, *::before, *::after {
   box-sizing: border-box; 
} 

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

li {
 list-style: none;   
}

body {  
    margin: 0;    
    background-color: #000000; 
} 

.container {
    margin: 0 auto;
}

.main-page,
.inner-page {
    margin: 0 auto;
    width: 1200px;  
    background-color: #ffffff;
    box-shadow: 
    -5px 0 5px -5px rgba(0, 1, 1, 0.2),
    5px 0 5px -5px rgba(0, 1, 1, 0.2);
}

.main-header { 
    background-color: #ffffff;  
    min-height: 56px;
    display: flex;
    justify-content: space-around;  
}

.main-header-logo {
    margin-top: 0;
    width: 140px;
    height: 71px;
    position: absolute; 
    z-index: 1; 
} 

.main-navigation { 
    display: flex;
    justify-content: center; 
    margin: 0; 
    align-items: center;  
}


 .site-navigation {
    width: 1200px;
    min-height: 56px;
    margin: 0;
    font: inherit;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-between; 
    align-items: center;   
}

.site-navigation li {
    display: flex; 
    width: 240px;
    justify-content: flex-start;   
}

.site-navigation li:nth-child(1) { 
    margin-left: -40px;
}

.site-navigation li:nth-child(2) { 
    flex-grow: 1;
}

.site-navigation li:nth-child(3) { 
    justify-content: flex-end;
    flex-grow: 1;
}

.site-navigation li:nth-child(4) { 
   justify-content: flex-end;
}

.site-navigation a {
    color: #000000;
    margin-right: 72px;
    margin-left: 72px;
}
  
.site-navigation a:hover {
    color: #81b3d2;  
    background-color: #ffffff;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.site-navigation a:active,
.site-navigation a.active {
   color: #766357;  
   background-color: #ffffff;
}

.button {
    display: inline-block; 
    margin-right: 6px;
    font: inherit;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.button-light {
     background-color: #81b3d2; 
  
} 
.search .button-light {
    font-size: 21px;
    line-height: 26px;
    padding: 17px 196px 22px 197px;   
}

.selected-hotel .button-light {
    font-size: 14px;
    line-height: 21px;
    padding: 3px 17px 3px 17px;
    margin-right: 2px;
}

.button-light:hover {
     background-color: #669ec0; 
} 

.button-light:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd; 
} 

.button-dark {
    background-color: #766357; 
 } 

/*.search .button-dark*/ .button-search {
    font-size: 21px;
    line-height: 26px;
    padding: 35px 139px 33px 140px;
    margin-left: 6px; 
    cursor: pointer;          /***/
}

.selected-hotel .button-dark {
    font-size: 14px;
    line-height: 21px;
    padding: 3px 16px;
}

.button-dark:hover {
     background-color: #604e43; 
} 

.button-dark:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33; 
} 
    
.input-info {
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;   
}
 
/*сетка для главной страницы*/

.index-container {
    width: 100%;
    min-height: 2586px;
}

.hero {  
    display: block;
    text-align: center;
    min-height: 501px; 
    padding-top: 76px;
    background-image: url("../img/background-photo.jpg");
    background-size: cover;
    background-position: 0px -70px;
    background-color: #81b3d2;
    background-repeat: no-repeat;
    position: relative;
}

.hero::after {
    content: "";
    display: block;
    min-width: 1200px;
    min-height: 59px;
    background-image: url("../img/polygon.png");
    background-size:  1200px 59px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -2px;
}

.features {
    width: 100%; 
    min-height: 1220px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}

.features-main { 
    width: 100%; 
    text-align: center;
}

.features-main h2 { 
    margin: 0;
    font-weight: 700;
    font-size: 21px; 
    line-height: 26px;
    background-color: #ffffff; 
    padding-top: 61px;
    padding-bottom: 28px;
    padding-left: 380px;
    padding-right: 380px;
}  
    
.features-main p { 
    text-align: center; 
    margin: 0;
    font-weight: 400;
    font-size: 14px; 
    line-height: 26px;
    color: #333333;
    background-color: #ffffff;
    padding-bottom: 56px;     
}

.features-reasons {
    display: flex ;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
} 


.features-items { 
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-left: -40px;
}

.features-block { 
    display: flex;
    margin: 0;
    width: 33.33%; 
    min-height: 256px; 
    flex-direction: column;
    text-align: center;
}

.features-block-left {
    padding: 45px 60px 60px 60px;
}
.features-block-right {
    padding: 45px 45px 60px 45px;
}

.features-items-accent {
   color: #ffffff;
   background-color: #81b3d2; 
}

.features-items-dim {
    color: #000000; 
    background-color: #eeeeee;
}

.features-items-dim .features-block {
    width: 400px;
    padding: 50px 60px 60px 60px;
} 

.features-items h3 {
    margin: 0;
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
}

.features-number,
.features-text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}  

.features-number { 
    margin-top: 20px;
    margin-bottom: 20px;
}

.features-block-right {
    order: 1;
}

.features-drops {
    display: flex;
    min-height: 330px;
    justify-content: space-between;
    margin: 0;
    margin-left: -40px; 
}

.features-block-drops { 
    display: flex;
    margin: 0;
    width: 400px;
    color: #000000;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
    padding-left: 65px;
    padding-right: 45px;
} 

.features-drops h3 {
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
    color: #000000; 
    margin-top: 160px; 
    padding-bottom: 30px;
}

.features-drops .features-text {
    color:#333333;
    margin-bottom: 80px;
}

.features-block-drops::before {
    content: "";
    display: block;
    min-width: 76px;
    min-height: 76px;
    position: absolute;
    margin-top: 60px; 
    background-repeat: no-repeat;      
}

.features-housing .features-block-drops::before {
    background-image: url("../img/icon-1.svg");
    background-size: 75px 72px;
}

.features-food .features-block-drops::before {
    background-image: url("../img/icon-3.svg");
    background-size: 74px 70px;  
}

.features-gift .features-block-drops::before {
    background-image: url("../img/icon-2.svg");
    background-size: 64px 76px;  
}

.features-reasons li:nth-child(1) {
    order: -2;
}

.features-reasons li:nth-child(6) {  
    order: -1;
}

.search { 
    width: 1200px;
    min-height: 286px;
    text-align: center;
    background-color: #ffffff;
}

.search h2 { 
    margin: 0;
    font-weight: 700;
    font-size: 30px; 
    line-height: 36px;
    padding-top: 52px;
    padding-bottom: 22px; 
}  

.search .search-offer { 
    margin: 0;
    font-weight: 400;
    font-size: 14px; 
    line-height: 24px;
    color: #333333;
    margin-bottom: 52px;   
}

.search-field {
    width: 568px;   
    min-height: 395px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff; 
    padding: 55px;
    z-index: 1;
    position: absolute;
    left: 50%;
    margin-left: -284px;
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15); 
}

.search-field-show {    
 display: block;
 animation: bounce 2s;
}

.search-field-close {
    display: none; 
}

@keyframes bounce {
        0% {
          transform: translateY(-86px);
        }
      
        25% {
          transform: translateY(-75px);
        }
      
        50% {
          transform: translateY(-50px);
        }

        75% {
            transform: translateY(-25px);
          }
        100% {
          transform: translateY(0);
        }
      }
   
.search-form {
    width: 458px;   
    min-height: 173px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-info {
    display: flex;
    width: 458px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 29px;
    position: relative;
}

.input-info .info-date {
    width: 346px;
    height: 38px;
    font-family: inherit;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700px;
    background-color: #f2f2f2;
    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 13px;
    border: none;
}

.input-info .info-date:hover {
    background-color: #ebebeb;
}

.input-info .info-date:focus {
    background-color: #ffffff;
}

.search-form .quantity {
    display: flex;
    width: 458px;
    height: 38px;
    justify-content: space-between;
}

.quantity .input-adults,
.quantity .input-child {
    display: flex;
    min-height: 38px;
    position: relative;
}

.quantity .input-adults {
    width: 226px;
    justify-content: flex-start;
}

.quantity .input-child {
    display: flex;
    width: 179px;
    min-height: 38px;
    justify-content: flex-end;
}

.quantity button,
.quantity input {
    width: 38px;
    height: 38px;
    margin: 0;
    text-align: center;
    background-color: #f2f2f2;
    border: none;   
}

.quantity input,
.input-info input {
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}

.input-adults .number-minus::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 3px;
    background-color: #000000;
    opacity: 0.3;
    top: 50%;
    left: 124px;    
}

.input-adults .number-minus:hover::before{
    opacity: 1;
}

.input-adults .number-minus:focus::before{
    background-color: #81b3d2;
}

.input-adults .number-plus::before,
.input-adults .number-plus::after {
    position: absolute;
    content: "";
    width: 11px;
    height: 3px;
    background-color: #000000;
    opacity: 0.3;
    top: 50%;
    left: 201px;
}

.input-adults .number-plus::after {
    transform: rotate(90deg);   
}

.input-adults .number-plus:hover::before,
.input-adults .number-plus:hover::after {
    opacity: 1;
}

.input-adults .number-plus:focus::before,
.input-adults .number-plus:focus::after {
    background-color: #81b3d2;
}


.input-child .number-minus::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 3px;
    background-color: #000000;
    opacity: 0.3;
    top: 50%;
    left: 79px;    
}

.input-child .number-minus:hover::before {
    opacity: 1;
}

.input-child .number-minus:focus::before {
    background-color: #81b3d2;
}

.input-child .number-plus::before,
.input-child .number-plus::after {
    position: absolute;
    content: "";
    width: 11px;
    height: 3px;
    background-color: #000000;
    opacity: 0.3;
    top: 50%;
    left: 156px;
}

.input-child .number-plus::after {
    transform: rotate(90deg);   
}

.input-child .number-plus:hover::before,
.input-child .number-plus:hover::after {
    opacity: 1; 
}

.input-child .number-plus:focus::before,
.input-child .number-plus:focus::after {
    background-color: #81b3d2;
}


.quantity button:nth-child(1) {
    margin-left: auto;
}

.search-field .button-light {
    width: 100%;
    margin-top: 55px;
}

.input-info svg {
   position: absolute;
    z-index: 1;
    bottom: 50%;
    left: 100%;
    margin-left: -30px;
    margin-bottom: -10px;
    fill: #cacaca;
}

.input-info  svg:hover path {
    fill: #000000 ;
}

.input-info svg:focus path {
    fill: #81b3d2; 
}

.map {
    display: block;
    height: 473px; 
    background-image: url("../img/map.jpg");
    background-size: cover;
}


/* для  hotels.html*/

.filter-container {
    display: flex;
    width: 100%;
    min-height: 217px;
    margin: 0;
    color: #ffffff;           
    background-image: url("../img/filter-background.jpg");
    background-color: #81b3d2;
    background-size: 1200px 562px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -310px;
} 

.filter-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin: 31px 72px 31px 72px;
}

.filter-container fieldset {
    border: none;
}

.form-list li {
    margin-left: -40px;  
}

.form-list legend,
.form-price p {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.filter-form {
    display: flex;
    width: 50%;
    min-height: 151px;
}

.form-list {
    margin-top: -6px; 
}

.form-list ul {
    display: flex;
    width: 139px;
    min-height: 115px; 
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.form-list li {
    margin-bottom: 22px; 
}
.form-list li:last-child {
    margin-bottom: 0; 
}

.form-checkbox {
    display: flex; 
    position: relative; 
    padding-left: 40px;
}

.form-checkbox input[type="checkbox"] + .checkbox-indicator,
.form-checkbox input[type="checkbox"]:disabled + .checkbox-indicator {
    content: "";
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    width: 27px;
    height: 23px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.form-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
    background-image: url("../img/checkbox-on.svg");
}


.form-checkbox input[type="checkbox"]:disabled + .checkbox-indicator {
    background-image: url("../img/checkbox-off-dis.svg");
    opacity: 0.3;
}

.form-checkbox input[type="checkbox"]:checked:disabled + .checkbox-indicator {
    background-image: url("../img/checkbox-on-dis.svg");
    opacity: 0.3;
}

.form-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
    background-color: #6a6a6a;
    transform: scale(1.2);
}

.filter-form .form-list:nth-child(1){
 margin-left: -10px;   
 margin-right: 95px;   
}

.filter-form:nth-child(2) {
justify-content: flex-end;
}

.form-price {
    width: 314px;
}

.form-price-title {
    margin-top: -6px;
    margin-bottom: 13px;
}

.price-control {
    position: relative;
    height: 36px; 
    margin-bottom: 22px;
    font-size: 0; 
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-control::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    background: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.price-control label {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    vertical-align: top;
    margin-top: 5px;
    cursor: pointer;
} 

.price-control .min-price,
.price-control .max-price {
  width: 152px;
  padding-left: 65px;
}

.price-control input {
    width: 50px;
    margin: 0;
    color: #ffffff;
    background: none;
    border: none;  
}

.form-price label { 
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.range-control {
    position: relative;
    margin-bottom: 30px;
}

.range-control .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-control .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -7px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
    box-sizing: content-box;
}

.range-toggle-min {
    left: 0;
}
  
.range-toggle-max {
    left: 80%;
}

.range-toggle:hover {
    transform: scale(1.1, 1.09);
}
  
.button-opacity {
    display: block;
    margin: 0 auto;
    padding: 6px 36px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
} 


.button-opacity:hover {
   color: #000000;
   background-color: #ffffff;  
}


.selected-result {
   display: flex; 
   width: 100%;
   min-height: 86px;
   justify-content: space-between;
}

.sort-items {
    display: flex;
    min-width: 50%;
    padding-left: 72px;
    justify-content: flex-start;
    align-items: center;
} 

.selected-result h3 {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}

.sort-items p {
    color: #000000;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-left: 49px;
}

.selected-result ul {
    display: flex;
    min-width: 278px;
    justify-content: space-between;
    margin: 0 auto;
}

.updown-up {
    display: flex;
    padding-right: 73px;
    justify-content: flex-end;
    align-items: center;  
}

.button-sort {
    color: rgba(0, 0, 0, 0.3);
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    background-color:#ffffff;
    border: none;
    border-bottom: 1px dashed #81b3d2;
    padding: 0; 
    margin-right: 33px; 
}

.button-sort:hover {
    color: #81b3d2;
}

.button-sort:focus {
    color: #000000;
    border-bottom: none; 
}

.button-sort.button\:active {
    color: #81b3d2;
    border-bottom: none;
}

.button-updown {
    width: 20px;
    height: 20px;
    background-color:#ffffff;
    background-size: 11px 10px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

.button-updown-up {
    background-image: url("../img/grey-icon-up-dir.png");   
}
.button-updown-up:hover {
    background-image: url("../img/black-icon-up-dir.png");   
}
.button-updown-up:focus {
    background-image: url("../img/blue-icon-up-dir.png");   
}


.button-updown-down{
    background-image: url("../img/grey-icon-down-dir.png");   
}
.button-updown-down:hover {
    background-image: url("../img/black-icon-down-dir.png");   
}
.button-updown-down:focus, 
.button-updown-down.button\:active {
    background-image: url("../img/blue-icon-down-dir.png");   
}


.selected-hotels {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0; 
} 

.selected-hotel .image-info {
    width: 135px;
    height: 90px;
    margin-right: 30px;
}  

.hotel-box { 
    width: 1200px; 
    display: flex;
    margin: 0;
    margin-left: -40px;
    border-top:1px solid rgba(0, 0, 0, 0.3); 
}

.hotel-box:last-child {
    border-bottom:1px solid rgba(0, 0, 0, 0.3);  
}

.selected-hotel {
    display: flex;
    width: 100%;
    margin: 30px 72px;
    justify-content: space-between; 
} 

.hotel-info {
    display: flex;
    margin: 0;
    padding-top: 0;
    min-width: 363px;
    min-height: 90px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    flex-grow: 1;
}   

.hotel-info h3,
.hotel-info p {
    margin: 0;
}

.hotel-name {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px; 
    color: #000000;
    margin-top: -5px;
}

.hotel-name:hover {
   color: #81b3d2; 
}

.hotel-name:focus,
.hotel-name:active {
    color:#000000; 
    opacity: 0.3;
}

.hotel-info span {
    color: #333333;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px; 
    vertical-align: top;     
}

.info-type {
    display: inline-block;
    min-width: 115px;
}

.stars-rating {
    display: flex;
    flex-shrink: 0; 
} 

.rating-box {
    display: flex;
    min-width: 110px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; 
}

.stars {
    display: flex;
    justify-content: flex-end;
}

.stars img {
margin-left: 5px;
}

.rating {
    color: #666666;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    background-color: #f2f2f2;
    padding: 5px 13px 6px 16px;
    margin-bottom: 0;
}


.main-footer {
    display: flex;
    list-style: none;
    color: #000000;
    min-height: 120px;
    justify-content: space-between; 
    align-items: center;
    background-color: #ffffff;
    opacity: 0.9;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
}
  
.main-footer a {
    color: #000000;
} 

.footer-contacts {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    min-height: 48px;
    width: 223px;
    margin: 0 auto; 
}

.footer-contacts span {
    display: inline-block;
    padding-bottom: 16px;
    vertical-align: middle;
}

.footer-contacts a {
    display: block;
    min-width: 230px;
    text-align: left;
}  

.footer-social {
    display: flex;
    min-width: 150px;
    min-height: 48px;
    justify-content: space-around;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.social-button {
    background-color: #81b3d2;
    display: flex;
    width: 46px;
    height: 48px;
    align-items: center;
    justify-content: center;  
    margin-right: 6px;   
}

.social-button:hover {
    background-color: #669ec0;
}
.social-button:focus {
    background-color: #5496bd;
}
.social-button:focus path {
    fill: #81b3d2; 
}
  
.footer-copyright { 
    display: flex;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    margin: 0 auto;
    justify-content: space-between; 
    align-items: center;
}

.footer-copyright a {
    display: flex;  
    margin-left: 11px;
}

.footer-copyright a:hover path {
    fill: #81b3d2; 
}

.footer-copyright a:focus path {
    fill: #bdbbbc; 
}
  