@font-face {
    font-family: '_ptsans';
    src: url('fonts/._ptsans.woff') format('woff'),
         url('fonts/._ptsans.woff2') format('woff2'),
         url('fonts/._ptsansbold.woff') format('woff2'),
         url('fonts/._ptsansbold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;  
}

*, *::before, *::after {
   box-sizing: border-box; 
} 

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

a {
    text-decoration: none;
}


body {  
    margin: 0;
    padding: 0;       
    background-color: #f2f2f2; 
    /*width: 1280px; */   
}

.body-container {
    /*margin: 0;
    margin-left: 40px; 
    margin-right: 40px;*/
    margin: 0 auto;
    width: 1200px;
    
    background-color: #ffffff;
    box-shadow: 
    -5px 0 5px -5px rgba(0, 1, 1, 0.2),
    5px 0 5px -5px rgba(0, 1, 1, 0.2);

    /*background-image: 
    url("../img/polygon.jpg"),
    url("../img/background-photo.jpg");
    background-position: 
    top 507px left 0, 
    0 0;
    background-size: 
    1200px 59px,
    1200px 773px;
    background-repeat: no-repeat;*/   
}

.main-header {  
    background-color: #ffffff;  
    height: 56px; 
    /*margin-bottom: 76px;*/
    display: flex;
    /*flex-direction: column;*/
    align-items: center;  
    justify-content: space-around;
}


.main-header-logo {
    width: 140px;
    height: 71px;
    position: absolute;   
} 

.main-navigation {
    min-height: 56px; 
}

.main-header .site-navigation {
    width: 1200px;
    margin: 0;
    padding: 0;
    font: inherit;
    font-weight: 700;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    align-items: center; 
    height: 56px;      
}


.site-navigation a {
        color: #000000;       
}
  
.site-navigation a:hover {
    color: #81b3d2;  
    background-color: #ffffff;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

  .site-navigation a:active {
    color: #766357;  
    background-color: #ffffff;
}

.hero {    
    text-align: center;
    min-height: 800px; /*было 508px;*/
    padding-top: 76px;/* убрала margin в меню, добавила padding в hero*/
    /*margin-bottom: 140px;*/
    background-image: url("../img/background-photo.jpg");
    background-size: cover;
    background-color: #dae8f2;
    background-repeat: no-repeat; 
    
    position: relative;
}


.hero p::after {
content: "";
display: block;
margin-bottom: 22px;
min-width: 1200px;
min-height: 59px;
background-image: url("../img/polygon.png");
background-size:  1200px 59px;
background-repeat: no-repeat;
}


.button {
    font: inherit;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.button-light {
     background-color: #81b3d2; 
} 

.button-light:hover {
     background-color: #669ec0; 
} 

.button-light:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd; 
} 

.button-dark {
     background-color: #766357; 
} 

.button-dark:hover {
     background-color: #604e43; 
} 

.button-dark:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33; 
} 

/*.features {
    display: flex;
    min-width: 1200;
    min-height: 1300;
}*/

.features-reasons {
list-style: none;
}

.features h2 {
/*margin-top: 100px;
    padding-top: 61px;
    height: 216px;*/
    background-color: #ffffff;
}

.features-title {
    font-weight: 700;
    font-size: 21px;
    line-height: 36px;
}
/*.features .features-main {
    display: flex;
    width: 1200px;
    height: 216px;
   
  
}
.features-items {
    display: flex;
    width: 1200px;
    height: 256px;
}*/

.features-items-accent {
    color: #ffffff;
    background-color: #81b3d2;
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
}

.features-number,
.features-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.features-items-dim {
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #eeeeee;
}

.features-drops h3 {
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;    
}

.features-drops li {
    position: relative;
    display: inline-block;
    margin-top: 80px;
    margin-right: 20px;
    margin-bottom: 10px;
    list-style: none; 
}

.features-drops .features-housing::before {
    content: "";
    display: block;
    min-width: 80px;
    min-height: 80px;
    position: absolute;
    display: block;
    top: -70px;
   
    background-image: url("../img/icon-1.svg");
    background-size: 75px 72px;  
    background-repeat: no-repeat;  
}

.features-drops .features-food::before {
    content: "";
    display: block;
    min-width: 80px;
    min-height: 80px;
    position: absolute;
    display: block;
    top: -70px;
   
    background-image: url("../img/icon-3.svg");
    background-size: 75px 72px;  
    background-repeat: no-repeat;  
}

.features-drops .features-gift::before {
    content: "";
    display: block;
    min-width: 80px;
    min-height: 80px;
    position: absolute;
    display: block;
    top: -70px;
   
    background-image: url("../img/icon-2.svg");
    background-size: 75px 72px;  
    background-repeat: no-repeat;  
}


.type-face1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.type-face2 {
    color: #333333;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}
    
.input-info {
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    
}

.main-footer {
    display: flex;
    list-style: none;
    color: #000000;
    display: flex;
    height: 120px;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    margin: 0 auto;
  }
  
.main-footer a {
    color: #000000;
} 

.footer-contacts {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    min-height: 48px;
    width: 223px;
    margin: 0 auto;
   
}


.footer-contacts a {
    display: block;
    width: 230px;
    /*height: 20px;*/
    text-align: left;
}
   

.footer-social {
    display: flex;
    width: 150px;
    min-height: 48px;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.social-button {
    background-color: #81b3d2;
    display: flex;
    width: 46px;
    height: 48px;
    align-items: center;
    justify-content: center;  
    margin-bottom: 10px;   
}

.social-button:hover {
    background-color: #669ec0;
}
.social-button:focus {
    background-color: #5496bd;
}
.social-button:focus path {
    fill: #81b3d2; 
}
  
.footer-copyright { 
    display: flex;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    width: 197px;
    /*min-height: 48px;*/
    margin: 0 auto;
    justify-content: space-between; 
    align-items: center;
}

.footer-copyright a:hover path {
    fill: #81b3d2; 
}

.footer-copyright a:focus path {
    fill: #bdbbbc; 
}
  

.selected-hotels,
.stars {
list-style: none;
}

.selected-hotels h3 {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: left;
}

.selected-hotel span {
    color: #333333;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
}

.rating {
    color: #666666;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    background-color: #f2f2f2;
}
  